In [59]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv('A_forbes_global_1000.csv')

In [62]:
df

,Rank,Name,Country,Industry,Sales,Profits,Assets,Market Value
0,1,JPMorganChase,United States,Banking,285106.0,59358.0,4357856.0,677800.0
1,2,Berkshire Hathaway,United States,Insurance,371433.0,88995.0,1153881.0,1145461.0
2,3,ICBC,China,Banking,221963.0,50843.1,6688598.0,251332.0
3,4,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,Oil & Gas Operations,480146.0,104971.8,645028.0,1663384.0
4,5,Amazon,United States,Retail and Wholesale,637959.0,59248.0,624894.0,2005638.0
...,...,...,...,...,...,...,...,...
995,996,Dover,United States,Capital Goods,7958.0,2295.7,12649.0,23165.0
996,997,China Bohai Bank,China,Banking,9147.0,730.1,253058.0,2130.0
997,998,Commercial Bank For Investment & Development O...,Vietnam,Banking,6876.0,984.2,108330.0,9444.0
998,999,China National Chemical,China,Construction,25213.0,768.9,32022.0,6223.0
999,1000,Sunshine Insurance Group,China,Insurance,12182.0,757.1,79705.0,6240.0

In [63]:
# Convert financial columns from millions to billions
df[["Sales", "Profits", "Assets", "Market Value"]] = df[["Sales", "Profits", "Assets", "Market Value"]] / 1000

# Optional: round for display
df[["Sales", "Profits", "Assets", "Market Value"]] = df[["Sales", "Profits", "Assets", "Market Value"]].round(2)

In [64]:
df

,Rank,Name,Country,Industry,Sales,Profits,Assets,Market Value
0,1,JPMorganChase,United States,Banking,285.11,59.36,4357.86,677.80
1,2,Berkshire Hathaway,United States,Insurance,371.43,89.00,1153.88,1145.46
2,3,ICBC,China,Banking,221.96,50.84,6688.60,251.33
3,4,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,Oil & Gas Operations,480.15,104.97,645.03,1663.38
4,5,Amazon,United States,Retail and Wholesale,637.96,59.25,624.89,2005.64
...,...,...,...,...,...,...,...,...
995,996,Dover,United States,Capital Goods,7.96,2.30,12.65,23.16
996,997,China Bohai Bank,China,Banking,9.15,0.73,253.06,2.13
997,998,Commercial Bank For Investment & Development O...,Vietnam,Banking,6.88,0.98,108.33,9.44
998,999,China National Chemical,China,Construction,25.21,0.77,32.02,6.22
999,1000,Sunshine Insurance Group,China,Insurance,12.18,0.76,79.70,6.24

In [65]:
# Set exchange rate (1 USD ≈ 83.20 INR as of Oct 2025)
usd_to_inr = 83.20

# Convert financial columns from billions USD to billions INR
df[["Sales", "Profits", "Assets", "Market Value"]] = df[["Sales", "Profits", "Assets", "Market Value"]] * usd_to_inr

# Optional: round for display
df[["Sales", "Profits", "Assets", "Market Value"]] = df[["Sales", "Profits", "Assets", "Market Value"]].round(2)

# Optional: rename columns to reflect INR
df.rename(columns={
    "Sales": "Sales (INR Billion)",
    "Profits": "Profits (INR Billion)",
    "Assets": "Assets (INR Billion)",
    "Market Value": "Market Value (INR Billion)"
}, inplace=True)

In [66]:
df

,Rank,Name,Country,Industry,Sales (INR Billion),Profits (INR Billion),Assets (INR Billion),Market Value (INR Billion)
0,1,JPMorganChase,United States,Banking,23721.15,4938.75,362573.95,56392.96
1,2,Berkshire Hathaway,United States,Insurance,30902.98,7404.80,96002.82,95302.27
2,3,ICBC,China,Banking,18467.07,4229.89,556491.52,20910.66
3,4,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,Oil & Gas Operations,39948.48,8733.50,53666.50,138393.22
4,5,Amazon,United States,Retail and Wholesale,53078.27,4929.60,51990.85,166869.25
...,...,...,...,...,...,...,...,...
995,996,Dover,United States,Capital Goods,662.27,191.36,1052.48,1926.91
996,997,China Bohai Bank,China,Banking,761.28,60.74,21054.59,177.22
997,998,Commercial Bank For Investment & Development O...,Vietnam,Banking,572.42,81.54,9013.06,785.41
998,999,China National Chemical,China,Construction,2097.47,64.06,2664.06,517.50
999,1000,Sunshine Insurance Group,China,Insurance,1013.38,63.23,6631.04,519.17

In [68]:
df.to_csv('forbes_data_cleaning.csv',index=False)